<a href="https://colab.research.google.com/github/YasuharuSuzuki/25_isco3/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01_DataFrameã®èª­ã¿è¾¼ã¿
pandasã‚’ä½¿ã£ã¦Excelã‚„CSVã¨ã„ã£ãŸè¡¨ãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã¿ã¾ã—ã‚‡ã†ã€‚

### ğŸ“Š pandasã«ã¤ã„ã¦
<img src="https://pandas.pydata.org/static/img/pandas.svg">

- pandasã¯ã€Pythonã§ä½¿ç”¨ã§ãã‚‹ã‚ªãƒ¼ãƒ—ãƒ³ã‚½ãƒ¼ã‚¹ã®ãƒ‡ãƒ¼ã‚¿åˆ†æãƒ©ã‚¤ãƒ–ãƒ©ãƒªã§ã™ã€‚ãã®åå‰ã¯ã€ŒPANel DAtaã€ã®ç•¥ã§ã€ãƒ‘ãƒãƒ«ãƒ‡ãƒ¼ã‚¿ï¼ˆè¡Œã¨åˆ—ã§åŒºåˆ‡ã‚‰ã‚ŒãŸè¡¨å½¢å¼ã®ãƒ‡ãƒ¼ã‚¿ã‚„ã€æ™‚ç³»åˆ—ãƒ‡ãƒ¼ã‚¿ãªã©ï¼‰ã‚’æ‰±ã†ã®ã«å„ªã‚Œã¦ã„ã¾ã™ã€‚
- ã“ã®å¾Œã®æˆæ¥­ã§æ©Ÿæ¢°å­¦ç¿’ã‚’å­¦ã³ã¾ã™ãŒã€æ©Ÿæ¢°å­¦ç¿’ã‚’å­¦ã¶æ™‚ã«ã¯pandasã‚’ç”¨ã„ã‚‹ã“ã¨ãŒä¸€èˆ¬çš„ã§ã™ã€‚

### ğŸ–ï¸ pandasã‚’ä½¿ã†ãƒ¡ãƒªãƒƒãƒˆ
- ä¾¿åˆ©ãªDataFrameã€Series: DataFrame,Seriesã‚ªãƒ–ã‚¸ã‚§ã‚¯ãƒˆã¯ã€è¡¨è¨ˆç®—ã‚½ãƒ•ãƒˆã®ã‚ˆã†ã«ãƒ‡ãƒ¼ã‚¿ã‚’è¡¨å½¢å¼ã§æ‰±ã†ã“ã¨ãŒã§ãã‚‹æ©Ÿèƒ½ã§ã€ã¨ã¦ã‚‚ä¾¿åˆ©ã§ã™ã€‚
- å¤šç”¨ãªãƒ‡ãƒ¼ã‚¿å½¢å¼ã®ã‚µãƒãƒ¼ãƒˆ: CSV, Excel, SQL ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹, JSON ãªã©æ§˜ã€…ãªå½¢å¼ã®ãƒ‡ãƒ¼ã‚¿ã‚’åˆ©ç”¨ã§ãã€ãã‚Œã‚‰ã‚’çµ±ä¸€çš„ã«æ‰±ã†ã“ã¨ãŒå¯èƒ½ã§ã™ã€‚
- ãƒ‡ãƒ¼ã‚¿åˆ†ææ©Ÿèƒ½: ã‚°ãƒ«ãƒ¼ãƒ—åŒ–ã€é›†è¨ˆã€çµåˆãªã©ã®æ“ä½œãŒç°¡å˜ã«è¡Œãˆã¾ã™ã€‚ã¾ãŸã€æ™‚ç³»åˆ—ãƒ‡ãƒ¼ã‚¿ã®åˆ†æã«ç‰¹åŒ–ã—ãŸæ©Ÿèƒ½ã‚‚ã‚ã‚Šã¾ã™ã€‚
- ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒªãƒ¼ãƒ‹ãƒ³ã‚°: æ¬ æå€¤ã‚„é‡è¤‡ãƒ‡ãƒ¼ã‚¿ã®å‡¦ç†ãŒç°¡å˜ã«ã§ãã¾ã™ã€‚ã¾ãŸã€ãƒ‡ãƒ¼ã‚¿ã®å‹å¤‰æ›ã‚„æ­£è¦åŒ–ã‚’å®¹æ˜“ã«è¡Œã†ã“ã¨ãŒå¯èƒ½ã§ã™ã€‚
- ãƒ‘ãƒ•ã‚©ãƒ¼ãƒãƒ³ã‚¹: å†…éƒ¨ã®æ¼”ç®—ã«ã¯numpyãŒä½¿ç”¨ã•ã‚Œã¦ãŠã‚Šã€numpyã¯Cè¨€èªã§æ›¸ã‹ã‚Œã¦ã„ã‚‹ãŸã‚ã€å¤§é‡ã®æ•°å€¤ãƒ‡ãƒ¼ã‚¿ã«å¯¾ã—ã¦ä¸€æ°—ã«é«˜é€Ÿãªè¨ˆç®—ã‚’è¡Œã†ã“ã¨ãŒå¯èƒ½ã§ã™ã€‚
- å¯è¦–åŒ–: matplotlibã‚„seabornãªã©ã®å¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã¨ã‚·ãƒ¼ãƒ ãƒ¬ã‚¹ã«é€£æºã§ãã¾ã™ã€‚
- æ©Ÿæ¢°å­¦ç¿’ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã¨ã®ç›¸æ€§ã®è‰¯ã•: scikit-learnãªã©ã®æ©Ÿæ¢°å­¦ç¿’ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã¨ã‚¹ãƒ ãƒ¼ã‚ºã«é€£æºã§ãã¾ã™ã€‚

### ğŸ”° ã¯ã˜ã‚ã¦ã¿ã‚ˆã†
- ä»Šå›ã®è¬›ç¾©ã§ã¯ã€ã“ã®pandasã‚’ä½¿ã£ãŸãƒ‡ãƒ¼ã‚¿åˆ†æã®åŸºæœ¬ã«ã¤ã„ã¦å­¦ã‚“ã§ã„ãã¾ã—ã‚‡ã†ã€‚

---

### ğŸŒ å‚è€ƒã‚µã‚¤ãƒˆ
#### [ã€Pythonå…¥é–€ã€‘7-1. pandasãƒ©ã‚¤ãƒ–ãƒ©ãƒª](https://utokyo-ipp.github.io/7/7-1.html)

---

### ğŸ“‘ ä½¿ç”¨ã™ã‚‹ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¤ã„ã¦
#### ğŸ· Wineãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆ
- scikit-learnã§æœ‰åãªWineã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¯ç°¡å˜ãªåˆ†é¡ç”¨ã®ã€Œwine datasetã€ã¨ã‚„ã‚„ãƒ‡ãƒ¼ã‚¿é‡ã®å¤šã„ã€Œwine quality datasetã€ãŒã‚ã‚Šã¾ã™ã€‚
- ä»Šå›ã¯ãƒ‡ãƒ¼ã‚¿é‡ãŒå°‘ãªã„ã€Œwine datasetã€ã‚’ä½¿ç”¨ã—ã¾ã™ã€‚
- ã‚¤ã‚¿ãƒªã‚¢ã®ã‚ã‚‹åœ°åŸŸã§æ ½åŸ¹ã•ã‚ŒãŸï¼“ç¨®é¡ã®ãƒ¯ã‚¤ãƒ³ã«ã¤ã„ã¦åŒ–å­¦åˆ†æã‚’è¡Œã£ãŸçµæœã‚’ç‰¹å¾´é‡ã¨ã—ã¦æ ¼ç´ã•ã‚Œã¦ã„ã¾ã™ã€‚

##### ğŸ“ˆ ã‚«ãƒ©ãƒ åã¨å†…å®¹
| No. | ã‚«ãƒ©ãƒ å | å†…å®¹ |
| --- | --- | --- |
| 1 | alcohol | ã‚¢ãƒ«ã‚³ãƒ¼ãƒ«åº¦æ•° | 
| 2 | malic_acid | ãƒªãƒ³ã‚´é…¸ | 
| 3 | ash | ç°åˆ†ï¼ˆã‹ã„ã¶ã‚“ï¼‰ | 
| 4 | alcalinity_of_ash | ç°åˆ†ã®ã‚¢ãƒ«ã‚«ãƒªåº¦ | 
| 5 | magnesium | ãƒã‚°ãƒã‚·ã‚¦ãƒ  | 
| 6 | total_phenols | å…¨ãƒ•ã‚§ãƒãƒ¼ãƒ«å«é‡ | 
| 7 | flavanoids | ãƒ•ãƒ©ãƒœãƒã‚¤ãƒ‰ | 
| 8 | nonflavanoid_phenols | éãƒ•ãƒ©ãƒœãƒã‚¤ãƒ‰ãƒ•ã‚§ãƒãƒ¼ãƒ« | 
| 9 | proanthocyanins | ãƒ—ãƒ­ã‚¢ãƒ³ãƒˆã‚·ã‚¢ãƒ‹ãƒ³ | 
| 10 | color_intensity | è‰²ã®æ¿ƒã• | 
| 11 | hue | è‰²ç›¸ | 
| 12 | od280/od315_of_diluted_wines | å¸Œé‡ˆãƒ¯ã‚¤ãƒ³æº¶æ¶²ã®OD280ï¼OD315ï¼ˆï¼280nmã¨315nmã®å¸å…‰åº¦ã®æ¯”ï¼‰ | 
| 13 | proline | ãƒ—ãƒ­ãƒªãƒ³ | 
| 14 | target | ãƒ¯ã‚¤ãƒ³ã®å“ç¨®ã€‚ç›®çš„å¤‰æ•° |

### â¬‡ï¸ ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«

In [ ]:
# matplotlibæ—¥æœ¬èªå¯¾å¿œãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«
!pip install matplotlib-fontja

### ğŸ“ GoogleDrive ã® Mount

In [ ]:
# drive.mount()ã‚’ä½¿ç”¨ã—ã¦GoogleDriveã‚’Mount
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# os.chdir()ã‚’ä½¿ç”¨ã—ã¦ã‚«ãƒ¬ãƒ³ãƒˆãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªã‚’å¤‰æ›´ã€‚ä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒƒãƒˆã‚«ãƒƒãƒˆåã‚’ä½¿ã£ã¦ãƒ‘ã‚¹ã‚’æŒ‡å®šã—ã¾ã™ã€‚
import os
os.chdir('/content/drive/MyDrive/ï¼œä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒˆã‚«ãƒƒãƒˆåï¼')

### âœ] ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®import

In [1]:
import pandas as pd # pandasãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆãƒ‡ãƒ¼ã‚¿åˆ†æãƒ©ã‚¤ãƒ–ãƒ©ãƒªï¼‰
import numpy as np # NumPyãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆæ•°å€¤æ¼”ç®—ãƒ©ã‚¤ãƒ–ãƒ©ãƒªï¼‰
import matplotlib.pyplot as plt # matplotlib.pyplot ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆå¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã€‚ç´°ã‹ã„ã‚«ã‚¹ã‚¿ãƒã‚¤ã‚ºãŒå¯èƒ½ï¼‰
import seaborn as sns # Seabornãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆå¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã€‚pairplotãªã©å¤šãã®ãƒ‡ãƒ¼ã‚¿åˆ†ææƒ…å ±ã‚’plotã™ã‚‹ã®ã«å‘ã„ã¦ã„ã‚‹ï¼‰

### âœï¸ å®šæ•°ã®å®šç¾©
- ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹ã‚’å®šç¾©ã—ã¦ãŠãã¾ã™
- ãƒ‡ãƒ¼ã‚¿èª­ã¿è¾¼ã¿ã®éš›ã«ã”ä½¿ç”¨ã—ã¦ãã ã•ã„

In [2]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹å®šç¾©
WINE_CSV = "./data/wine.csv"
WINE_XLSX = "./data/wine.xlsx" # ãƒ‡ãƒ¼ã‚¿ã¯CSVã¨åŒã˜
IRIS_CSV = "./data/iris.csv"
IRIS_XLSX = "./data/iris.xlsx" # ãƒ‡ãƒ¼ã‚¿ã¯CSVã¨åŒã˜

## ğŸ“š ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 1ã€€CSVã‹ã‚‰DataFrameã‚’èª­ã¿è¾¼ã‚€
- read_csv ã‚’ä½¿ã£ã¦CSVãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã¿ã¾ã™
- [å‚è€ƒã‚µã‚¤ãƒˆï¼šread_csv()](https://note.nkmk.me/python-pandas-read-csv-tsv/)

In [5]:
# ãƒ¯ã‚¤ãƒ³ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿(CSV)
df_wine_csv = pd.read_csv(WINE_CSV, index_col=None) # indexã«ä½¿ç”¨ã™ã‚‹ã‚«ãƒ©ãƒ ãŒç„¡ã„ãŸã‚ã€index_col=Noneã‚’æŒ‡å®šã—ã¾ã™
print("type=" + str(type(df_wine_csv)))
df_wine_csv

type=<class 'pandas.core.frame.DataFrame'>

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

## ğŸ”°ã€€ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 1ã€€CSVã‹ã‚‰DataFrameã‚’èª­ã¿è¾¼ã‚€(5ç‚¹)

- ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆï¼ˆIRIS_CSVï¼‰ã‚’CSVã‹ã‚‰DataFrameã¨ã—ã¦èª­ã¿è¾¼ã‚“ã§ã¿ã¾ã—ã‚‡ã†  

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [10]:
# ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿(CSV)
df_iris_csv = pd.read_csv(IRIS_CSV, index_col=0) # "id"åˆ—ã‚’indexã«æŒ‡å®šã™ã‚‹ãŸã‚ã€index_col=0ã‚’æŒ‡å®šã—ã¾ã™
print("type=" + str(type(df_iris_csv)))
df_iris_csv

type=<class 'pandas.core.frame.DataFrame'>

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
#@title é€ä¿¡å‡¦ç†ç”¨å…±é€šãƒ—ãƒ­ã‚°ãƒ©ãƒ ï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown è§£ç­”ã®é€ä¿¡ã«å¿…è¦ã§ã™ã€‚ï¼ˆä¸­èº«ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰

import os
os.makedirs(".client/python", exist_ok=True)  # éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã‚’ä½œæˆ
!wget -q https://raw.githubusercontent.com/YasuharuSuzuki/25_isco3/main/91_notebook_client/src/setup.sh -O .client/setup.sh   # å¤–éƒ¨ã‚³ãƒ¼ãƒ‰ã‚’ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰ã—ã¦éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã«é…ç½®
!chmod +x ./.client/setup.sh
!bash ./.client/setup.sh # å®Ÿè¡Œ

# sandboxå®Ÿè¡Œç”¨
# os.symlink("../../src", ".client", target_is_directory=True)
# !bash ./sandbox_setup.sh # å®Ÿè¡Œ

# ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã®åˆæœŸåŒ–
exec(open('.client/client_setup.py').read())

# ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯å›ºæœ‰ã®è¨­å®š
NOTEBOOK_PATH = "03_pandas/01_DataFrameã®èª­ã¿è¾¼ã¿.ipynb"
set_notebook_config(NOTEBOOK_PATH)

ğŸš€ 91_notebook_client ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—é–‹å§‹
ğŸ“ ä½œæ¥­ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªä½œæˆ: .client
ğŸ“¡ ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å…ƒ: https://raw.githubusercontent.com/YasuharuSuzuki/25_isco3/main/91_notebook_client/src
ğŸ Pythonãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰ä¸­...
  ğŸ“¥ python/__init__.py
  âœ… python/__init__.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/environment_detector.py
  âœ… python/environment_detector.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/storage_helper.py
  âœ… python/storage_helper.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/email_detector.py
  âœ… python/email_detector.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/notebook_reader.py
  âœ… python/notebook_reader.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/result_viewer.py
  âœ… python/result_viewer.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/grading_client.py
  âœ… python/grading_client.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ python/submit_widget.py
  âœ… python/submit_widget.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
  ğŸ“¥ client_setup.py
  âœ… client_setup.py ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰å®Œäº†
ğŸ” ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—ç¢ºèªä¸­...
  ğŸ“Š Pythonãƒ•ã‚¡ã‚¤ãƒ«:        8å€‹
ğŸ‰ ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—å®Œäº†ï¼
âš ï¸ æ³¨æ„äº‹é …: ã“ã®ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—ã¯Notebookå†èµ·å‹•æ™‚ã«å†å®Ÿè¡Œã—ã¦ãã ã•ã„
ğŸš€ å…±é€šãƒ—ãƒ­ã‚°ãƒ©ãƒ åˆæœŸåŒ–ä¸­...
ğŸ” ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹è‡ªå‹•å–å¾—ã‚’é–‹å§‹...
âŒ Google Colabç’°å¢ƒã§ã¯ã‚ã‚Šã¾ã›ã‚“
âŒ è‡ªå‹•å–å¾—å¤±æ•—ï¼ˆé€ä¿¡ãƒœã‚¿ãƒ³ä½¿ç”¨æ™‚ã«æ‰‹å‹•ã§å–å¾—ã—ã¦ãã ã•ã„ï¼‰
é€ä¿¡ãƒœã‚¿ãƒ³ç”¨é–¢æ•°ãŒèª­ã¿è¾¼ã¾ã‚Œã¾ã—ãŸï¼ˆå•é¡Œç•ªå·åˆ¥é€ä¿¡ãƒœã‚¿ãƒ³æ¤œç´¢ãƒ»Notebookæ§‹é€ è§£æãƒ»localStorage/ãƒ•ã‚¡ã‚¤ãƒ«ä¿å­˜å¯¾å¿œãƒ»é€ä¿¡æ™‚è‡ªå‹•ä¿å­˜ï¼‰
ğŸ”§ æ¡ç‚¹ã‚·ã‚¹ãƒ†ãƒ URLè¨­å®š: https://auto-grading-system-dp6ymxdrba-an.a.run.app
ğŸ”§ æ¡ç‚¹ã‚·ã‚¹ãƒ†ãƒ URL: https://auto-grading-system-dp6ymxdrba-an.a.run.app
âœ… é€ä¿¡æ©Ÿèƒ½ã®åˆæœŸåŒ–å®Œäº†
ğŸ“‹ ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ãƒ‘ã‚¹: 03_pandas/01_DataFrameã®èª­ã¿è¾¼ã¿.ipynb
âœ… ã‚°ãƒ­ãƒ¼ãƒãƒ«è¨­å®šã«ä¿å­˜ã—ã¾ã—ãŸ

In [12]:
#@title å•1 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=1, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))

ğŸ”§ æ¡ç‚¹ã‚·ã‚¹ãƒ†ãƒ URLè¨­å®š: https://auto-grading-system-dp6ymxdrba-an.a.run.app
ğŸ“‹ ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ãƒ‘ã‚¹è¨­å®š: 03_pandas/01_DataFrameã®èª­ã¿è¾¼ã¿.ipynb

VBox(children=(HTML(value='<h4>ğŸ“¤ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 1 è§£ç­”é€ä¿¡</h4>'), HTML(value='<small>ğŸ’¡ ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã¯è‡ªå‹•ä¿å­˜ã•ã‚Œã¾ã™</small>'), Text(vâ€¦

---
---
---

## ğŸ“š ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 2ã€€Excelã‹ã‚‰DataFrameã‚’èª­ã¿è¾¼ã‚€
- read_excel ã‚’ä½¿ã£ã¦Excelãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã¿ã¾ã™
- [å‚è€ƒã‚µã‚¤ãƒˆï¼šread_excel()](https://note.nkmk.me/python-pandas-read-excel/)
- read_excelã«ã¯èª­ã¿è¾¼ã‚€ãƒ¯ãƒ¼ã‚¯ã‚·ãƒ¼ãƒˆã‚’æŒ‡å®šã™ã‚‹æ©Ÿèƒ½ãªã©ãŒè¿½åŠ ã•ã‚Œã¦ã„ã¾ã™ãŒã€åŸºæœ¬çš„ã«ã¯read_csvã¨åŒã˜æ©Ÿèƒ½ã‚’æŒã£ã¦ã„ã¾ã™ã€‚

In [9]:
# ãƒ¯ã‚¤ãƒ³ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿(XLSX)
df_wine_xlsx = pd.read_excel(WINE_XLSX, index_col=None) # indexã«ä½¿ç”¨ã™ã‚‹ã‚«ãƒ©ãƒ ãŒç„¡ã„ãŸã‚ã€index_col=Noneã‚’æŒ‡å®šã—ã¾ã™
print("type=" + str(type(df_wine_xlsx)))
df_wine_xlsx

type=<class 'pandas.core.frame.DataFrame'>

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

- CSVã‚‚Excelã‚‚åŒã˜ãƒ‡ãƒ¼ã‚¿ã®ãŸã‚ã€çµæœã¯åŒã˜ã§ã™
- èª­ã¿è¾¼ã‚“ã DataFrameã‚’ã‚³ãƒ¼ãƒ‰ã‚»ãƒ«ã®æœ€å¾Œã«è¨˜è¿°ã™ã‚‹ã¨ã€å†…å®¹ã‚’è¡¨ç¤ºã§ãã¾ã™

## ğŸ”°ã€€ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 2ã€€Excelã‹ã‚‰DataFrameã‚’èª­ã¿è¾¼ã‚€(5ç‚¹)

- ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆï¼ˆIRIS_XLSXï¼‰ã‚’Excelã‹ã‚‰DataFrameã¨ã—ã¦èª­ã¿è¾¼ã‚“ã§ã¿ã¾ã—ã‚‡ã†  

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [7]:
# ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿(XLSX)
df_iris_xlsx = pd.read_excel(IRIS_XLSX, index_col=0) # "id"åˆ—ã‚’indexã«æŒ‡å®šã™ã‚‹ãŸã‚ã€index_col=0ã‚’æŒ‡å®šã—ã¾ã™
print("type=" + str(type(df_iris_xlsx)))
df_iris_xlsx

type=<class 'pandas.core.frame.DataFrame'>

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#@title å•2 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=2, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))

---
---
---
---
---

## âœ”ã€€ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 3ã€€ãƒ‡ãƒ¼ã‚¿ã®ç¢ºèª

#### head() / tail()
- head() --- ãƒ‡ãƒ¼ã‚¿ã‚’å…ˆé ­ã‹ã‚‰ä½•è¡Œã‹è¡¨ç¤ºã§ãã¾ã™
- tail() --- ãƒ‡ãƒ¼ã‚¿ã‚’çµ‚ç«¯ã‹ã‚‰ä½•è¡Œã‹è¡¨ç¤ºã§ãã¾ã™

In [7]:
# head() ã‚’ä½¿ã£ã¦å…ˆé ­ã®ãƒ‡ãƒ¼ã‚¿ã‚’è¡¨ç¤ºã—ã¾ã™
# å¼•æ•°ã«ä½•ã‚‚æŒ‡å®šã—ãªã„å ´åˆã€5è¡Œè¡¨ç¤ºã•ã‚Œã¾ã™ã€‚
df_wine = df_wine_csv
df_wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [8]:
# å¼•æ•°ã«è¡Œæ•°ã‚’æŒ‡å®šã™ã‚‹ã“ã¨ã‚‚å¯èƒ½ã§ã™ã€‚
df_wine.head(1)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065,1

In [9]:
# tail() ã‚’ä½¿ã£ã¦çµ‚ç«¯ã®ãƒ‡ãƒ¼ã‚¿ã‚’è¡¨ç¤ºã—ã¾ã™
df_wine.tail()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560,3

In [10]:
# tail()ã‚‚head()åŒæ§˜ã«ã€è¡Œæ•°ã‚’æŒ‡å®šã§ãã¾ã™ã€‚
df_wine.head(3)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1

#### len() / shape / columns / index / info()
- len() --- è¡Œæ•°ã‚’å–å¾—
- shape --- è¡Œæ•°ã€åˆ—æ•°ã‚’å–å¾—
- columns --- åˆ—åï¼ˆã‚«ãƒ©ãƒ åï¼‰ã‚’å–å¾—
- index --- ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’å–å¾—
- info() --- è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ãªã©ã‚’è¡¨ç¤º

In [11]:
# è¡Œæ•°ã‚’å–å¾—
len(df_wine)

178

In [12]:
# è¡Œæ•°ã€åˆ—æ•°ã‚’å–å¾—
df_wine.shape

(178, 14)

In [13]:
# åˆ—åï¼ˆã‚«ãƒ©ãƒ åï¼‰ã‚’å–å¾—
df_wine.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'target'],
      dtype='object')

In [14]:
# ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’å–å¾—
df_wine.index

RangeIndex(start=0, stop=178, step=1)

In [15]:
# ãƒ‡ãƒ¼ã‚¿å‹ã®è¡¨ç¤º
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    int64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    int64
 13  target                        178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

## â˜‘ï¸ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 3ã€€ãƒ‡ãƒ¼ã‚¿ã®ç¢ºèª(20ç‚¹)
- ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚’ç¢ºèªã—ã¦ã¿ã¾ã—ã‚‡ã†
  - head()ã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - tail()ã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - len()ã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - shapeã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - columnsã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - indexã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - info()ã‚’ä½¿ã£ã¦ã¿ã¾ã—ã‚‡ã†ã€‚

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [ ]:
# head() ã‚’ä½¿ã£ã¦å…ˆé ­ã®ãƒ‡ãƒ¼ã‚¿ã‚’è¡¨ç¤ºã—ã¾ã™
df_iris = df_iris_csv
df_iris.head(3)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa

In [ ]:
# tail() ã‚’ä½¿ã£ã¦çµ‚ç«¯ã®ãƒ‡ãƒ¼ã‚¿ã‚’è¡¨ç¤ºã—ã¾ã™
df_iris.tail(2)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

In [ ]:
# è¡Œæ•°ã‚’å–å¾—
len(df_iris)

150

In [ ]:
# è¡Œæ•°ã€åˆ—æ•°ã‚’å–å¾—
df_iris.shape

(150, 5)

In [ ]:
# åˆ—åï¼ˆã‚«ãƒ©ãƒ åï¼‰ã‚’å–å¾—
df_iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
# ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’å–å¾—
df_iris.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
      dtype='int64', name='Id', length=150)

In [ ]:
# ãƒ‡ãƒ¼ã‚¿å‹ã®è¡¨ç¤º
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [ ]:
#@title å•3 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=3, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))