<a href="https://colab.research.google.com/github/YasuharuSuzuki/25_isco3/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02_ãƒ‡ãƒ¼ã‚¿ã®æŠ½å‡ºã¨çµ±è¨ˆæ“ä½œ

---

### ğŸŒ å‚è€ƒã‚µã‚¤ãƒˆ
#### [ã€Pythonå…¥é–€ã€‘7-1. pandasãƒ©ã‚¤ãƒ–ãƒ©ãƒª](https://utokyo-ipp.github.io/7/7-1.html)

---

### â¬‡ï¸ ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«

In [ ]:
# matplotlibæ—¥æœ¬èªå¯¾å¿œãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«
!pip install matplotlib-fontja

### ğŸ“ GoogleDrive ã® Mount

In [ ]:
# drive.mount()ã‚’ä½¿ç”¨ã—ã¦GoogleDriveã‚’Mount
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# os.chdir()ã‚’ä½¿ç”¨ã—ã¦ã‚«ãƒ¬ãƒ³ãƒˆãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªã‚’å¤‰æ›´ã€‚ä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒƒãƒˆã‚«ãƒƒãƒˆåã‚’ä½¿ã£ã¦ãƒ‘ã‚¹ã‚’æŒ‡å®šã—ã¾ã™ã€‚
import os
os.chdir('/content/drive/MyDrive/ï¼œä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒˆã‚«ãƒƒãƒˆåï¼')

### âœ] ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®import

In [1]:
import pandas as pd # pandasãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆãƒ‡ãƒ¼ã‚¿åˆ†æãƒ©ã‚¤ãƒ–ãƒ©ãƒªï¼‰
import numpy as np # NumPyãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆæ•°å€¤æ¼”ç®—ãƒ©ã‚¤ãƒ–ãƒ©ãƒªï¼‰
import matplotlib.pyplot as plt # matplotlib.pyplot ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆå¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã€‚ç´°ã‹ã„ã‚«ã‚¹ã‚¿ãƒã‚¤ã‚ºãŒå¯èƒ½ï¼‰
import seaborn as sns # Seabornãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’èª­ã¿è¾¼ã‚€ï¼ˆå¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã€‚pairplotãªã©å¤šãã®ãƒ‡ãƒ¼ã‚¿åˆ†ææƒ…å ±ã‚’plotã™ã‚‹ã®ã«å‘ã„ã¦ã„ã‚‹ï¼‰

### âœï¸ å®šæ•°ã®å®šç¾©
- ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹ã‚’å®šç¾©ã—ã¦ãŠãã¾ã™
- ãƒ‡ãƒ¼ã‚¿èª­ã¿è¾¼ã¿ã®éš›ã«ã”ä½¿ç”¨ã—ã¦ãã ã•ã„

In [2]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹å®šç¾©
WINE_CSV = "./data/wine.csv"
WINE_XLSX = "./data/wine.xlsx" # ãƒ‡ãƒ¼ã‚¿ã¯CSVã¨åŒã˜
IRIS_CSV = "./data/iris.csv"
IRIS_XLSX = "./data/iris.xlsx" # ãƒ‡ãƒ¼ã‚¿ã¯CSVã¨åŒã˜

---
---
---
---
---

## ğŸ§‘ğŸ»â€ğŸ­ã€€ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 4ã€€æŠ½å‡º
### [åˆ—å] ã‚’ä½¿ã£ãŸSeriesã®æŠ½å‡º
- Seriesã¯ï¼‘è¡Œã€ï¼‘åˆ—ã¨ã„ã£ãŸä¸€æ¬¡å…ƒã®æƒ…å ±ã‚’ä¾¿åˆ©ã«æ‰±ã†ã“ã¨ãŒã§ãã¾ã™ã€‚
- DataFrameãŒè¤‡æ•°è¡Œã€è¤‡æ•°åˆ—ã‚’æ‰±ãˆã‚‹ã®ã«å¯¾ã—ã¦ã€Seriesã§ã¯å€‹ã€…ã®åˆ—ãƒ‡ãƒ¼ã‚¿ã‚’é›†è¨ˆã™ã‚‹ã®ã«ä¾¿åˆ©ã§ã™ã€‚

In [3]:
# ãƒ¯ã‚¤ãƒ³ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿(CSV)
df_wine = pd.read_csv(WINE_CSV, index_col=None) # indexã«ä½¿ç”¨ã™ã‚‹ã‚«ãƒ©ãƒ ãŒç„¡ã„ãŸã‚ã€index_col=Noneã‚’æŒ‡å®šã—ã¾ã™

# [åˆ—å] ã‚’ä½¿ã£ã¦ã€alcoholã‚«ãƒ©ãƒ ã®å…ˆé ­5è¡Œã‚’è¡¨ç¤º
df_wine["alcohol"].head()

0    14.23
1    13.20
2    13.16
3    14.37
4    13.24
Name: alcohol, dtype: float64

### .åˆ—å ã‚’ä½¿ã£ãŸSeriesã®æŠ½å‡º
- . (ãƒ‰ãƒƒãƒˆ) ã‚’ä½¿ç”¨ã—ã¦Seriesã‚’æŠ½å‡ºã™ã‚‹ã“ã¨ã‚‚ã§ãã¾ã™ã€‚

In [4]:
# .åˆ—å ã‚’ä½¿ã£ã¦ã€alcoholã‚«ãƒ©ãƒ ã®å…ˆé ­5è¡Œã‚’è¡¨ç¤º
df_wine.alcohol.head()

0    14.23
1    13.20
2    13.16
3    14.37
4    13.24
Name: alcohol, dtype: float64

### [[åˆ—å]] ã‚’ä½¿ã£ãŸDataFrameã®æŠ½å‡º
- DataFrameã¨ã—ã¦ä¸€éƒ¨ã®è¤‡æ•°åˆ—ã‚’æŠ½å‡ºã™ã‚‹ã“ã¨ã‚‚å‡ºæ¥ã¾ã™

In [5]:
# [[åˆ—å]] ã‚’ä½¿ã£ã¦ã€total_phenolsã¨hueã®å…ˆé ­5è¡Œã‚’è¡¨ç¤º
df_wine[["total_phenols","hue"]].head()

   total_phenols   hue
0           2.80  1.04
1           2.65  1.05
2           2.80  1.03
3           3.85  0.86
4           2.80  1.04

### loc[è¡Œ,åˆ—] ã‚’ä½¿ã£ãŸæŠ½å‡º
- ç‰¹å®šã®è¡Œã€åˆ—ã‚’æŠ½å‡ºã™ã‚‹ã“ã¨ãŒå‡ºæ¥ã¾ã™
- å„è¡Œã€å„åˆ—ã®æŒ‡å®šã«ã¯[start:stop]ã‚’æŒ‡å®šã—ã¦ã‚¹ãƒ©ã‚¤ã‚¹ã™ã‚‹ã“ã¨ã‚‚å¯èƒ½ã§ã™
  - ãŸã ã—ã€locã‚’ä½¿ç”¨ã—ãŸæŠ½å‡ºã§ã¯ã€stopã®å€¤ã‚‚å«ã¾ã‚Œã‚‹ã“ã¨ã«æ³¨æ„ã—ã¦ãã ã•ã„

In [6]:
# loc[è¡Œ,åˆ—] ã‚’ä½¿ã£ã¦ã€ãƒ‡ãƒ¼ã‚¿ã®ç¯„å›²ãƒ»ä½ç½®ã‚’æŒ‡å®šã—ã¦è¤‡æ•°ã®å€¤ã‚’æŠ½å‡º
df_wine.loc[:5, ['total_phenols','hue']]

   total_phenols   hue
0           2.80  1.04
1           2.65  1.05
2           2.80  1.03
3           3.85  0.86
4           2.80  1.04
5           3.27  1.05

- stopã®å€¤ã‚‚å«ã¾ã‚Œã‚‹

### iloc[è¡Œç•ªå·,åˆ—ç•ªå·] ã‚’ä½¿ã£ãŸæŠ½å‡º
- ilocã‚’ä½¿ç”¨ã™ã‚‹ã¨ç‰¹å®šã®è¡Œã€åˆ—ã‚’ç•ªå·ã§æŠ½å‡ºã™ã‚‹ã“ã¨ãŒå‡ºæ¥ã¾ã™ã€‚locã®ç•ªå·æŒ‡å®šãƒãƒ¼ã‚¸ãƒ§ãƒ³ã§ã™ã€‚
- å„è¡Œã€å„åˆ—ã®æŒ‡å®šã«ã¯[start:stop]ã‚’æŒ‡å®šã—ã¦ã‚¹ãƒ©ã‚¤ã‚¹ã™ã‚‹ã“ã¨ã‚‚å¯èƒ½ã§ã™
  - ilocã‚’ä½¿ç”¨ã—ãŸæŠ½å‡ºã§ã¯ã€stopã®å€¤ã¯å«ã¾ã‚Œã¾ã›ã‚“ã€‚listã‚„tupleã¨åŒã˜æŒ™å‹•ã‚’ã—ã¾ã™ã€‚
- locã¨æ¯”è¼ƒã™ã‚‹ã¨ç”Ÿã®æ•°å€¤ã‚’å…¥åŠ›ã™ã‚‹ã“ã¨ã§å¯èª­æ€§ãŒä¸‹ãŒã‚Šã¾ã™ã€‚
  - åé¢ã€ç•ªå·ã§ä½ç½®ã‚’æŒ‡å®šã—ãŸã„ã¨ãã«ã¯ä½¿ã„ã‚„ã™ã„æ©Ÿèƒ½ã§ã™ã€‚
  - ã¾ãŸã€é€šå¸¸ã‚ã¾ã‚Šæ°—ã«ãªã‚‰ãªã„å·®ã§ã¯ã‚ã‚Šã¾ã™ãŒã€locã‚ˆã‚Šã‚‚é«˜é€Ÿã§ã™ã€‚

In [8]:
# iloc[è¡Œç•ªå·,åˆ—ç•ªå·] ã‚’ä½¿ã£ã¦ã€ãƒ‡ãƒ¼ã‚¿ã®ç¯„å›²ãƒ»ä½ç½®ã‚’ç•ªå·ã§æŒ‡å®šã—ã¦è¤‡æ•°ã®å€¤ã‚’æŠ½å‡º
df_wine.iloc[:5, 5:11]

,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue
0,2.80,3.06,0.28,2.29,5.64,1.04
1,2.65,2.76,0.26,1.28,4.38,1.05
2,2.80,3.24,0.30,2.81,5.68,1.03
3,3.85,3.49,0.24,2.18,7.80,0.86
4,2.80,2.69,0.39,1.82,4.32,1.04

- stopã®å€¤ã¯å«ã¾ã‚Œãªã„

### [æ¡ä»¶å¼]ã«ã‚ˆã‚‹æŠ½å‡º
- ç‰¹å®šã®è¡Œã‚’é¸æŠã™ã‚‹ã“ã¨ãŒå‡ºæ¥ã¾ã™

In [9]:
# æ¡ä»¶æŠ½å‡º: hueã‚«ãƒ©ãƒ ã®å€¤ãŒ0.80æœªæº€ã®è¡Œã‚’æŠ½å‡ºã—ã¦å…ˆé ­5è¡Œã‚’è¡¨ç¤º
df_wine[df_wine.hue < 0.80].head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
84,11.84,0.89,2.58,18.0,94,2.20,2.21,0.22,2.35,3.05,0.79,3.08,520,2
110,11.46,3.74,1.82,19.5,107,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562,2
118,12.77,3.43,1.98,16.0,80,1.63,1.25,0.43,0.83,3.40,0.70,2.12,372,2
123,13.05,5.80,2.13,21.5,86,2.62,2.65,0.30,2.01,2.60,0.73,3.10,380,2
124,11.87,4.31,2.39,21.0,82,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380,2

## ğŸ•µï¸â€â™‚ï¸ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 4ã€€æŠ½å‡º(15ç‚¹)
- ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¤ã„ã¦å„ç¨®æŠ½å‡ºã‚’è¡Œã£ã¦ã¿ã¾ã—ã‚‡ã†
  - [åˆ—å] ã‚’ä½¿ã£ãŸSeriesã®æŠ½å‡º
  - .åˆ—å ã‚’ä½¿ã£ãŸSeriesã®æŠ½å‡º
  - [[åˆ—å,åˆ—å]] ã‚’ä½¿ã£ãŸDataFrameã®æŠ½å‡º
  - loc ã‚’ä½¿ã£ãŸæŠ½å‡º
  - iloc ã‚’ä½¿ã£ãŸæŠ½å‡º
  - [æ¡ä»¶å¼] ã‚’ä½¿ã£ãŸé¸æŠ

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [ ]:
# ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿

# [åˆ—å] ã‚’ä½¿ã£ãŸã€Speciesã®æŠ½å‡º

Id
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Species, dtype: object

In [ ]:
# .åˆ—å ã‚’ä½¿ã£ãŸã€Speciesã®æŠ½å‡º

Id
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Species, dtype: object

In [ ]:
# [[åˆ—å]] ã‚’ä½¿ã£ãŸã€DataFrameã®æŠ½å‡º

     PetalLengthCm  PetalWidthCm         Species
Id
1              1.4           0.2     Iris-setosa
2              1.4           0.2     Iris-setosa
3              1.3           0.2     Iris-setosa
4              1.5           0.2     Iris-setosa
5              1.4           0.2     Iris-setosa
..             ...           ...             ...
146            5.2           2.3  Iris-virginica
147            5.0           1.9  Iris-virginica
148            5.2           2.0  Iris-virginica
149            5.4           2.3  Iris-virginica
150            5.1           1.8  Iris-virginica

[150 rows x 3 columns]

In [ ]:
# loc[è¡Œ,åˆ—] ã‚’ä½¿ã£ãŸæŠ½å‡º

    PetalLengthCm  PetalWidthCm      Species
Id
1             1.4           0.2  Iris-setosa
2             1.4           0.2  Iris-setosa
3             1.3           0.2  Iris-setosa
4             1.5           0.2  Iris-setosa
5             1.4           0.2  Iris-setosa

In [ ]:
# iloc[è¡Œç•ªå·,åˆ—ç•ªå·] ã‚’ä½¿ã£ãŸæŠ½å‡º

    PetalLengthCm  PetalWidthCm      Species
Id
1             1.4           0.2  Iris-setosa
2             1.4           0.2  Iris-setosa
3             1.3           0.2  Iris-setosa
4             1.5           0.2  Iris-setosa
5             1.4           0.2  Iris-setosa

In [ ]:
# [æ¡ä»¶å¼] ã‚’ä½¿ã£ãŸæŠ½å‡º

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
101            6.3           3.3            6.0           2.5  Iris-virginica
102            5.8           2.7            5.1           1.9  Iris-virginica
103            7.1           3.0            5.9           2.1  Iris-virginica
104            6.3           2.9            5.6           1.8  Iris-virginica
105            6.5           3.0            5.8           2.2  Iris-virginica

In [ ]:
#@title é€ä¿¡å‡¦ç†ç”¨å…±é€šãƒ—ãƒ­ã‚°ãƒ©ãƒ ï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown è§£ç­”ã®é€ä¿¡ã«å¿…è¦ã§ã™ã€‚ï¼ˆä¸­èº«ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰

import os
os.makedirs(".client/python", exist_ok=True)  # éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã‚’ä½œæˆ
!wget -q https://raw.githubusercontent.com/YasuharuSuzuki/25_isco3/main/91_notebook_client/src/setup.sh -O .client/setup.sh   # å¤–éƒ¨ã‚³ãƒ¼ãƒ‰ã‚’ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰ã—ã¦éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã«é…ç½®
!chmod +x ./.client/setup.sh
!bash ./.client/setup.sh # å®Ÿè¡Œ

# ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã®åˆæœŸåŒ–
exec(open('.client/client_setup.py').read())

# ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯å›ºæœ‰ã®è¨­å®š
NOTEBOOK_PATH = "03_pandas/02_ãƒ‡ãƒ¼ã‚¿ã®æŠ½å‡ºã¨çµ±è¨ˆæ“ä½œ.ipynb"
set_notebook_config(NOTEBOOK_PATH)

In [ ]:
#@title å•4 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=4, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))

---
---
---
---
---

## ğŸ“‹ ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 5ã€€çµ±è¨ˆ
- min() / max() / sum() / mean() / median() / var() / std() / quantile()
- unique() / value_counts()
- describe()

### min() / max() / sum() / mean() / median() / var() / std() / quantile() ã‚’ä½¿ã£ãŸå„ç¨®çµ±è¨ˆé‡ã®ç®—å‡º
- min() --- æœ€å°å€¤
- max() --- æœ€å¤§å€¤
- sum() --- åˆè¨ˆå€¤
- mean() --- å¹³å‡å€¤
- median() --- ä¸­å¤®å€¤
- var() --- åˆ†æ•£
- std() --- æ¨™æº–åå·®
- [quantile()](https://note.nkmk.me/python-pandas-quantile/) --- åˆ†ä½æ•°

In [12]:
# æœ€å°å€¤
df_wine.alcohol.min()

np.float64(11.03)

In [13]:
# æœ€å¤§å€¤
df_wine.alcohol.max()

np.float64(14.83)

In [14]:
# åˆè¨ˆå€¤
df_wine.alcohol.sum()

np.float64(2314.11)

In [15]:
# å¹³å‡å€¤
df_wine.alcohol.mean()

np.float64(13.00061797752809)

In [16]:
# ä¸­å¤®å€¤
df_wine.alcohol.median()

np.float64(13.05)

In [17]:
# åˆ†æ•£
df_wine.alcohol.var()

np.float64(0.6590623278105759)

In [18]:
# æ¨™æº–åå·®
df_wine.alcohol.std()

np.float64(0.8118265380058575)

In [19]:
# åˆ†ä½æ•°
df_wine.alcohol.quantile(0.25)  # 25% ã‚¿ã‚¤ãƒ«ã‚’å–å¾—

np.float64(12.362499999999999)

### ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡ºã¨ã€å‡ºç¾é »åº¦ã®ç®—å‡º
- ãƒ¦ãƒ‹ãƒ¼ã‚¯ã¨ã¯ï¼Ÿ
  - ãƒ¦ãƒ‹ãƒ¼ã‚¯ã¨ã¯ãƒ‡ãƒ¼ã‚¿ã‚„è­˜åˆ¥åãªã©ã«ã¤ã„ã¦ã€ä»–ã¨é‡è¤‡ã®ãªã„ï¼ˆé‡è¤‡ã‚’å–ã‚Šé™¤ã„ãŸï¼‰ãƒ‡ãƒ¼ã‚¿ã®ã“ã¨ã€‚
  - ã€Œãƒ¦ãƒ‹ãƒ¼ã‚¯ãªãƒ‡ãƒ¼ã‚¿ã€ã€Œä¸€æ„ãªãƒ‡ãƒ¼ã‚¿ã€ã¨ã‚‚è¨€ã„ã¾ã™ã€‚
- ãƒ¦ãƒ‹ãƒ¼ã‚¯ã‚’æ‰±ã†ãƒ¡ã‚½ãƒƒãƒ‰
  - unique()ã‚’ä½¿ç”¨ã™ã‚‹ã¨ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã‚’æŠ½å‡ºã—ã¾ã™ã€‚
  - [value_counts()](https://note.nkmk.me/python-pandas-value-counts/) ã‚’ä½¿ã†ã¨ã€ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡ºã¨ã€å„è¦ç´ ã®å‡ºç¾å›æ•°ã‚’ç®—å‡ºã§ãã¾ã™ã€‚

In [20]:
# unique() ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡º
df_wine.target.unique()

array([1, 2, 3])

- target(ãƒ¯ã‚¤ãƒ³ã®å“ç¨®)ã¯ï¼“ç¨®é¡ã‚ã‚‹

In [21]:
# value_counts() ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡ºã¨å‡ºç¾é »åº¦ã®ç®—å‡º
df_wine.target.value_counts()

target
2    71
1    59
3    48
Name: count, dtype: int64

- target(ãƒ¯ã‚¤ãƒ³ã®å“ç¨®)ã§ã¯ã€å“ç¨®2ãŒã‚„ã‚„ãƒ‡ãƒ¼ã‚¿é‡ãŒå¤šã„

### è¦ç´„çµ±è¨ˆé‡ã®å–å¾—
- [describe()](https://note.nkmk.me/python-pandas-describe/) ã‚’ä½¿ã†ã¨ã€å„åˆ—ã®å¹³å‡ã€ä¸­å¤®å€¤ã€æœ€å°å€¤ãªã©ã®è¦ç´„çµ±è¨ˆé‡ãŒå–å¾—ã§ãã¾ã™ã€‚

In [22]:
# describe() è¦ç´„çµ±è¨ˆé‡ã®ç®—å‡º
df_wine.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,1.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,1.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,1.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,2.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,3.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,3.000000

## âš–ï¸ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 5ã€€çµ±è¨ˆ (25ç‚¹)
- ã‚ã‚„ã‚ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¤ã„ã¦å„ç¨®çµ±è¨ˆã‚’è¡Œã£ã¦ã¿ã¾ã—ã‚‡ã†
  - min() / max() / sum() / mean() / median() / var() / std() / quantile() ã‚’ä½¿ã£ã¦å„ç¨®çµ±è¨ˆå€¤ã‚’ç®—å‡ºã—ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - unique() / value_counts() ã§ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡ºã¨ã€å‡ºç¾é »åº¦ã‚’ç®—å‡ºã—ã¦ã¿ã¾ã—ã‚‡ã†ã€‚
  - describe() ã§å„åˆ—ã®è¦ç´„çµ±è¨ˆé‡ã‚’å–å¾—ã—ã¦ã¿ã¾ã—ã‚‡ã†ã€‚

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [ ]:
# æœ€å°å€¤

np.float64(4.3)

In [ ]:
# æœ€å¤§å€¤

np.float64(7.9)

In [ ]:
# åˆè¨ˆå€¤

np.float64(876.5)

In [ ]:
# å¹³å‡å€¤

np.float64(5.843333333333334)

In [ ]:
# ä¸­å¤®å€¤

np.float64(5.8)

In [ ]:
# åˆ†æ•£

np.float64(0.6856935123042507)

In [ ]:
# æ¨™æº–åå·®

np.float64(0.828066127977863)

In [ ]:
# åˆ†ä½æ•°

np.float64(6.4)

In [ ]:
# unique() ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡º

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
# value_counts() ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªè¦ç´ ã®æŠ½å‡ºã¨å‡ºç¾é »åº¦ã®ç®—å‡º

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [ ]:
# describe() è¦ç´„çµ±è¨ˆé‡ã®ç®—å‡º

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [ ]:
#@title å•5 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=5, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))