<a href="https://colab.research.google.com/github/YasuharuSuzuki/25_isco3/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01_ãƒ‡ãƒ¼ã‚¿å‰å‡¦ç†

## scikit-learn
<img src="https://raw.githubusercontent.com/scikit-learn/scikit-learn/main/doc/logos/scikit-learn-logo.png">

- å‰å›ã®æˆæ¥­ã§ã¯ãƒ¯ã‚¤ãƒ³ã®ç¨®é¡ã‚„ã‚ã‚„ã‚ã®å“ç¨®ã‚’å­¦ç¿’ãƒ»äºˆæ¸¬ã™ã‚‹ã€Œåˆ†é¡ãƒ¢ãƒ‡ãƒ«ã€ã‚’ä½œæˆã—ã¾ã—ãŸã€‚
- ä»Šå›ã®æˆæ¥­ã§ã¯å¼•ãç¶šãscikit-learnã‚’ä½¿ç”¨ã—ã¦ã€æ•°å€¤äºˆæ¸¬ã‚’è¡Œã†ã€Œå›å¸°ãƒ¢ãƒ‡ãƒ«ã€ã‚’ä½œæˆã—ã¦ã¿ã¾ã—ã‚‡ã†ã€‚

---

### ğŸŒ å‚è€ƒã‚µã‚¤ãƒˆ
#### [ã€Pythonå…¥é–€ã€‘7-2. scikit-learnãƒ©ã‚¤ãƒ–ãƒ©ãƒª](https://utokyo-ipp.github.io/7/7-2.html)

---
---

### ğŸ“‘ ä½¿ç”¨ã™ã‚‹ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¤ã„ã¦
#### ğŸ‘©ğŸ»â€ğŸ³ ãƒ¬ã‚¹ãƒˆãƒ©ãƒ³ãƒãƒƒãƒ—é¡ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆ
- seaborn ã«åŒæ¢±ã•ã‚Œã¦ã„ã‚‹ãƒ¬ã‚¹ãƒˆãƒ©ãƒ³ã§ã®ä¼šè¨ˆã¨ãƒãƒƒãƒ—ã«é–¢ã™ã‚‹å®Ÿãƒ‡ãƒ¼ã‚¿ã‚’ã¾ã¨ã‚ãŸãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã§ã™ã€‚
- æ¥å®¢è€…ã®æƒ…å ±ï¼ˆæ€§åˆ¥ã€å–«ç…™ã®æœ‰ç„¡ã€æ›œæ—¥ã€é£Ÿäº‹ã®æ™‚é–“ã€åŒå¸­äººæ•°ã€æ”¯æ‰•é¡ï¼‰ã‹ã‚‰ã€ãƒãƒƒãƒ—ã®é¡ã‚’äºˆæ¸¬ã™ã‚‹å›å¸°ãƒ¢ãƒ‡ãƒ«ã‚’ä½œã‚‹ã“ã¨ãŒå‡ºæ¥ã¾ã™ã€‚
- å¾Œè¿°ã—ã¾ã™ãŒã€ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ãŒå«ã¾ã‚Œã¦ãŠã‚Šã¾ã™ã€‚
- ã¾ãŸã€æ¬ æå€¤ãŒå­˜åœ¨ã—ã¾ã™ï¼ˆå…ƒã€…ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¯ã‚ã‚Šã¾ã›ã‚“ãŒã€æˆæ¥­ç”¨ã«åŠ å·¥ã—ã¦ã„ã¾ã™ï¼‰

##### ğŸ“ˆ ã‚«ãƒ©ãƒ åã¨å†…å®¹
| No. | ã‚«ãƒ©ãƒ å | å†…å®¹ |
| --- | --- | --- |
| 1 | total_bill | ç·æ”¯æ‰•é¡(é£Ÿäº‹ä»£ã€ç¨è¾¼ã¿)ã€€(USãƒ‰ãƒ«) |
| 2 | sex | æ€§åˆ¥ | 
| 3 | smoker | å–«ç…™è€…ã‹å¦ã‹ |
| 4 | day | æ›œæ—¥ï¼ˆThur / Fri / Sat / Sunï¼‰ |
| 5 | time | é£Ÿäº‹ã®æ™‚é–“ |
| 6 | size | åŒå¸­äººæ•° |
| 7 | tip | **ãƒãƒƒãƒ—é¡ï¼ˆUSãƒ‰ãƒ«ï¼‰ã€‚ç›®çš„å¤‰æ•°** |

---

#### ğŸ’‰ åŒ»ç™‚ä¿é™ºæ–™ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆ
- Kaggle ç­‰ã§é…ä¿¡ã•ã‚Œã¦ã„ã‚‹å€‹äººå±æ€§ã‹ã‚‰åŒ»ç™‚ä¿é™ºã®ä¿é™ºæ–™ï¼ˆåŒ»ç™‚è²»ï¼‰ã‚’äºˆæ¸¬ã™ã‚‹ãŸã‚ã®æ©Ÿæ¢°å­¦ç¿’ç”¨ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã§ã™ã€‚
- å€‹äººæƒ…å ±ï¼ˆå¹´é½¢ã€æ€§åˆ¥ã€bmiã€å­ä¾›ã®æ•°ã€å–«ç…™ã®æœ‰ç„¡ã€å±…ä½åœ°åŸŸï¼‰ã‹ã‚‰ã€å¹´é–“ã®ä¿é™ºæ–™ã®é¡ã‚’äºˆæ¸¬ã™ã‚‹å›å¸°ãƒ¢ãƒ‡ãƒ«ã‚’ä½œã‚‹ã“ã¨ãŒå‡ºæ¥ã¾ã™ã€‚
- ã“ã¡ã‚‰ã‚‚ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ãŒå«ã¾ã‚Œã¦ãŠã‚Šã¾ã™ã€‚
- æ¬ æå€¤ã‚‚å­˜åœ¨ã—ã¾ã™ï¼ˆå…ƒã€…ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã¯ã‚ã‚Šã¾ã›ã‚“ãŒã€æˆæ¥­ç”¨ã«åŠ å·¥ã—ã¦ã„ã¾ã™ï¼‰

##### ğŸ“ˆ ã‚«ãƒ©ãƒ åã¨å†…å®¹
| No. | ã‚«ãƒ©ãƒ å | å†…å®¹ |
| --- | --- | --- |
| 1 | age | å¹´é½¢ |
| 2 | sex | æ€§åˆ¥(male / female) | 
| 3 | bmi | BMI(ä½“æ ¼æŒ‡æ•°) | 
| 4 | children | æ‰¶é¤Šã—ã¦ã„ã‚‹å­ä¾›ã®æ•° | 
| 5 | smoker | å–«ç…™è€…ã‹å¦ã‹(yes / no) |
| 6 | region | å±…ä½åœ°åŸŸï¼ˆnortheast / northwest / southeast / southwestï¼‰ |
| 7 | charges | **å¹´é–“åŒ»ç™‚ä¿é™ºæ–™ï¼ˆç›®çš„å¤‰æ•°ï¼‰** |

##### LICENSE
- [Medical Cost Personal Datasets](https://www.kaggle.com/datasets/mirichoi0218/insurance)
- [Licensed under the Database Contents License (DbCL) v1.0](https://opendatacommons.org/licenses/dbcl/1-0/)

---
---

### ğŸ¢ ãƒ‡ãƒ¼ã‚¿å‰å‡¦ç†ã«ã¤ã„ã¦
- **ãƒ‡ãƒ¼ã‚¿å‰å‡¦ç†** ã¨ã¯ã€ã€Œé›†ã‚ãŸãƒ‡ãƒ¼ã‚¿ã‚’ã€ãã®ã¾ã¾ä½¿ã†ã®ã§ã¯ãªãã€**åˆ†æã‚„æ©Ÿæ¢°å­¦ç¿’ã§ä½¿ã„ã‚„ã™ã„å½¢ã«æ•´ãˆã‚‹ä½œæ¥­** ã€ã®ã“ã¨ã§ã™ã€‚

ç¾å®Ÿã®ãƒ‡ãƒ¼ã‚¿ã¯ã€ãã®ã¾ã¾ã§ã¯æ¬¡ã®ã‚ˆã†ãªå•é¡Œã‚’å«ã‚“ã§ã„ã‚‹ã“ã¨ãŒå¤šãã‚ã‚Šã¾ã™ã€‚
  - å…¥åŠ›ã•ã‚Œã¦ã„ãªã„å€¤ï¼ˆæ¬ æå€¤ï¼‰ãŒã‚ã‚‹
  - è¡¨è¨˜ã‚†ã‚ŒãŒã‚ã‚‹ï¼ˆä¾‹ï¼šã€Œæ±äº¬ã€ã€Œæ±äº¬éƒ½ã€ã€ŒTOKYOã€ï¼‰
  - æ•°å€¤ã¨ã—ã¦æ‰±ãˆãªã„ãƒ‡ãƒ¼ã‚¿ãŒæ··ã–ã£ã¦ã„ã‚‹
  - æ˜ã‚‰ã‹ã«ãŠã‹ã—ãªå€¤ï¼ˆå¤–ã‚Œå€¤ï¼‰ãŒå«ã¾ã‚Œã¦ã„ã‚‹

ã“ã®ã‚ˆã†ãªçŠ¶æ…‹ã®ã¾ã¾åˆ†æã‚’è¡Œã†ã¨ã€ **æ­£ã—ã„çµæœãŒå¾—ã‚‰ã‚Œãªã„** ãŸã‚ã€äº‹å‰ã«ãƒ‡ãƒ¼ã‚¿ã‚’æ•´ãˆã‚‹å¿…è¦ãŒã‚ã‚Šã¾ã™ã€‚

---

### â¬‡ï¸ ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«

In [ ]:
# matplotlibæ—¥æœ¬èªå¯¾å¿œãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«
!pip install matplotlib-fontja

### ğŸ“ GoogleDrive ã® Mount

In [ ]:
# drive.mount()ã‚’ä½¿ç”¨ã—ã¦GoogleDriveã‚’Mount
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# os.chdir()ã‚’ä½¿ç”¨ã—ã¦ã‚«ãƒ¬ãƒ³ãƒˆãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªã‚’å¤‰æ›´ã€‚ä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒƒãƒˆã‚«ãƒƒãƒˆåã‚’ä½¿ã£ã¦ãƒ‘ã‚¹ã‚’æŒ‡å®šã—ã¾ã™ã€‚
import os
os.chdir('/content/drive/MyDrive/ï¼œä½œæˆã—ãŸã‚·ãƒ§ãƒ¼ãƒˆã‚«ãƒƒãƒˆåï¼')

### âœ]ã€€ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®import

In [2]:
import numpy as np # æ•°å€¤æ¼”ç®—ãƒ©ã‚¤ãƒ–ãƒ©ãƒª
import pandas as pd # ãƒ‡ãƒ¼ã‚¿åˆ†æãƒ©ã‚¤ãƒ–ãƒ©ãƒª
import matplotlib.pyplot as plt # å¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒª
import seaborn as sns # å¯è¦–åŒ–ãƒ©ã‚¤ãƒ–ãƒ©ãƒª
import joblib # ãƒ¢ãƒ‡ãƒ«ä¿å­˜ãƒ»èª­ã¿è¾¼ã¿ãƒ©ã‚¤ãƒ–ãƒ©ãƒª
from sklearn.preprocessing import LabelEncoder # æ–‡å­—ãƒ‡ãƒ¼ã‚¿ã‚’æ•°å­—ã«ç½®æ›ã™ã‚‹ã‚¯ãƒ©ã‚¹ï¼ˆå¾Œè¿°ï¼‰
from sklearn.model_selection import train_test_split # scikit-learnã®è¨“ç·´ãƒ‡ãƒ¼ã‚¿ / ãƒ†ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ åˆ†å‰²é–¢æ•°
from sklearn import linear_model # scikit-learnã®linear_modelãƒ©ã‚¤ãƒ–ãƒ©ãƒª
from sklearn.ensemble import RandomForestRegressor  # RandomForestRegressor (å›å¸°ãƒ¢ãƒ‡ãƒ«)
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score  # å›å¸°ãƒ¢ãƒ‡ãƒ«ã®æ€§èƒ½è©•ä¾¡ç”¨é–¢æ•°

### âœï¸ å®šæ•°ã®å®šç¾©
- ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹ã‚’å®šç¾©ã—ã¦ãŠãã¾ã™
- ãƒ‡ãƒ¼ã‚¿èª­ã¿è¾¼ã¿ãƒ»ãƒ‡ãƒ¼ã‚¿æ›¸ãè¾¼ã¿ã®éš›ã«ä½¿ç”¨ã—ã¦ãã ã•ã„ã€‚ä¿®æ­£ã¯ä¸è¦ã§ã™

In [3]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹å®šç¾©
TIPS_CSV = "./data/tips_customized.csv"
MEDICAL_COST_CSV = "./data/medical_cost_customized.csv"

# å‰å‡¦ç†å¾Œã®å‡ºåŠ›ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹å®šç¾©
TIPS_PREPROCESSED_CSV = "./data/tips_preprocessed.csv"
MEDICAL_PREPROCESSED_CSV = "./data/medical_preprocessed.csv"

# RANDOM SEED å®šç¾©
RANDOM_SEED = 0

---
---
---

### ğŸ½ï¸ ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 1ã€€ãƒ¬ã‚¹ãƒˆãƒ©ãƒ³ãƒãƒƒãƒ—é¡ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®å€¤ã®ç¢ºèª

ä»¥ä¸‹ã®æ‰‹é †ã§ã€ãƒ¬ã‚¹ãƒˆãƒ©ãƒ³ãƒãƒƒãƒ—é¡ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®å€¤ã‚’ç¢ºèªã—ã¾ã™ã€‚
- ãƒãƒƒãƒ—é¡ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã‚€
- head() èª­ã¿è¾¼ã‚“ã DataFrameã‚’ã–ã£ã¨ç¢ºèªã™ã‚‹
- value_counts() sexåˆ—ã®ç¢ºèª 
- value_counts() smokeråˆ—ã®ç¢ºèª
- value_counts() dayåˆ—ã®ç¢ºèª
- value_counts() timeåˆ—ã®ç¢ºèª
- info() è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ã€æ¬ æå€¤ã®ç¢ºèª
- describe() åŸºæœ¬çµ±è¨ˆé‡ã®ç¢ºèª

In [4]:
# ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿
df_tips = pd.read_csv(TIPS_CSV, index_col=0) # 0ç•ªã®åˆ—ã‚’indexã«ä½¿ç”¨ã™ã‚‹ãŸã‚ã€index_col=0ã‚’æŒ‡å®šã—ã¾ã™

In [5]:
# èª­ã¿è¾¼ã‚“ã DataFrameã‚’ç¢ºèª
# å…ˆé ­5è¡Œã‚’ã–ã£ã¨çœºã‚ã‚‹
df_tips.head()

   total_bill     sex smoker  day    time  size   tip
0       16.99  Female     No  Sun  Dinner     2  1.01
1       10.34    Male     No  Sun  Dinner     3  1.66
2       21.01    Male     No  Sun  Dinner     3  3.50
3       23.68    Male     No  Sun  Dinner     2  3.31
4       24.59  Female     No  Sun  Dinner     4  3.61

- ã“ã‚Œã¾ã§ã¨é•ã£ã¦Male/Femaleãªã©ã®æ–‡å­—åˆ—ãŒå«ã¾ã‚Œã¦ã„ã¾ã™ã€‚

In [6]:
# sexåˆ—ã®ç¢ºèª
df_tips['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

- æ€§åˆ¥ã¯ç”·æ€§/å¥³æ€§ã®ã¿

In [7]:
# smokeråˆ—ã®ç¢ºèª
df_tips['smoker'].value_counts()

smoker
No     146
Yes     88
Name: count, dtype: int64

- å–«ç…™è€…ã‹ã©ã†ã‹ã‚‚ï¼’å€¤ã®ã¿ã§ã™

In [8]:
# dayåˆ—ã®ç¢ºèª
df_tips['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

- dayã«ã¯æ›œæ—¥ãŒå…¥ã£ã¦ã„ã¦ã€æœ¨æ›œæ—¥ã€é‡‘æ›œæ—¥ã€åœŸæ›œæ—¥ã€æ—¥æ›œæ—¥ã®ã¿ãŒå…¥ã£ã¦ã„ã¾ã™ï¼ˆæœˆæ›œæ—¥ï½æ°´æ›œæ—¥ã¯å­˜åœ¨ã—ãªã„ï¼‰

In [9]:
# timeåˆ—ã®ç¢ºèª
df_tips['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

- dinnerãŒå¤šã„

##### ğŸ—‚ï¸ ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°
- ç‰¹å®šã®ã‚°ãƒ«ãƒ¼ãƒ—ã¾ãŸã¯åç›®ä¸Šã®ã‚«ãƒ†ã‚´ãƒªã«ã€ã„ãã¤ã‹ã®è³ªçš„ç‰¹æ€§ã«åŸºã¥ã„ã¦å€¤ã‚’å‰²ã‚Šå½“ã¦ãŸå¤‰æ•°ã®ã“ã¨ã‚’ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã¨è¨€ã„ã¾ã™ã€‚
- è³ªçš„å¤‰æ•°ã¨ã‚‚è¨€ã„ã¾ã™ã€‚
- ä¸Šè¨˜ã®sex, smoker, dayã¯ãã‚Œãã‚Œã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã¨è¨€ãˆã¾ã™ã€‚
- SVRã‚„RandomForestRegressorã®ã‚ˆã†ãªå›å¸°ãƒ¢ãƒ‡ãƒ«ã«ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ã‚’æŒ‡å®šã™ã‚‹ã¨ã‚¨ãƒ©ãƒ¼ãŒç™ºç”Ÿã™ã‚‹ã®ã§å¯¾ç­–ãŒå¿…è¦ã§ã™ã€‚ï¼ˆå¾Œã»ã©æ‰±ã„ã¾ã™ï¼‰

### ğŸ’¬ è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ã€æ¬ æå€¤ã®ç¢ºèª

In [10]:
# info() è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ã€æ¬ æå€¤ã®ç¢ºèª
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   sex         244 non-null    object
 2   smoker      234 non-null    object
 3   day         244 non-null    object
 4   time        244 non-null    object
 5   size        244 non-null    int64
 6   tip         244 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

- smoker ã®å¤‰æ•°ãŒæ¬ æã—ã¦ã„ã¾ã™

##### ğŸ‘» æ¬ æå€¤
- ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆå†…ã®ã‚ã‚‹å¤‰æ•°ãŒãªã‚“ã‚‰ã‹ã®ç†ç”±ã«ã‚ˆã‚Šãƒ‡ãƒ¼ã‚¿ãŒæ¬ è½ã—ã¦ã„ã‚‹ã‚‚ã®ã‚’åˆºã—ã¾ã™ã€‚
- ä¾‹ãˆã°ã‚¢ãƒ³ã‚±ãƒ¼ãƒˆèª¿æŸ»ã§ç„¡å›ç­”ã ã£ãŸå ´åˆã‚„ã€ã‚»ãƒ³ã‚µãƒ¼ãƒ‡ãƒ¼ã‚¿ã§å–å¾—ã«å¤±æ•—ã—ãŸãƒ‡ãƒ¼ã‚¿ãªã©ãŒè©²å½“ã—ã¾ã™ã€‚
- ãƒ¢ãƒ‡ãƒ«ã«æ¬ æå€¤ãŒå«ã¾ã‚ŒãŸãƒ‡ãƒ¼ã‚¿ã‚’æŒ‡å®šã™ã‚‹ã¨ã‚¨ãƒ©ãƒ¼ãŒç™ºç”Ÿã™ã‚‹ãŸã‚ã€å¯¾ç­–ãŒå¿…è¦ã§ã™ã€‚ï¼ˆå¾Œã»ã©æ‰±ã„ã¾ã™ï¼‰

### ğŸ“Š åŸºæœ¬çµ±è¨ˆé‡ã®ç¢ºèª

In [11]:
# describe() åŸºæœ¬çµ±è¨ˆé‡ã®ç¢ºèª
df_tips.describe()

       total_bill        size         tip
count  244.000000  244.000000  244.000000
mean    19.785943    2.569672    2.998279
std      8.902412    0.951100    1.383638
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.000000    2.900000
75%     24.127500    3.000000    3.562500
max     50.810000    6.000000   10.000000

- total_billãŠã‚ˆã³tipã§ã¯ã€75%ã‚¿ã‚¤ãƒ«ã‹ã‚‰maxå€¤ã«å¤§ããªé–‹ããŒç™ºç”Ÿã—ã¦ãŠã‚Šã€å¤–ã‚Œå€¤ã‹ã€ã¹ãåˆ†å¸ƒã®ãƒ‡ãƒ¼ã‚¿ã§ã‚ã‚‹ã“ã¨ãŒè€ƒãˆã‚‰ã‚Œã¾ã™ã€‚

---

### ğŸ’‰ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 1ã€€åŒ»ç™‚ä¿é™ºæ–™ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®å€¤ã®ç¢ºèª (15ç‚¹)

ä»¥ä¸‹ã®æ‰‹é †ã§ã€åŒ»ç™‚ä¿é™ºæ–™ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®å€¤ã‚’ç¢ºèªã—ã€ãã‚Œãã‚Œè€ƒå¯Ÿã‚’ä»˜ã‘ã¦ã¿ã¾ã—ã‚‡ã†ã€‚  
1ï¸âƒ£ åŒ»ç™‚ä¿é™ºæ–™ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã‚€  
2ï¸âƒ£ head() èª­ã¿è¾¼ã‚“ã DataFrameã‚’ã–ã£ã¨ç¢ºèªã™ã‚‹   
3ï¸âƒ£ value_counts() sexåˆ—ã®ç¢ºèª   
4ï¸âƒ£ value_counts() smokeråˆ—ã®ç¢ºèª  
5ï¸âƒ£ value_counts() regionåˆ—ã®ç¢ºèª  
6ï¸âƒ£ info() è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ã€æ¬ æå€¤ã®ç¢ºèª  
7ï¸âƒ£ describe() åŸºæœ¬çµ±è¨ˆé‡ã®ç¢ºèª  

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [12]:
# ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’èª­ã¿è¾¼ã¿
df_medical = pd.read_csv(MEDICAL_COST_CSV, index_col=0) # 0ç•ªã®åˆ—ã‚’indexã«ä½¿ç”¨ã™ã‚‹ãŸã‚ã€index_col=0ã‚’æŒ‡å®šã—ã¾ã™

# å…ˆé ­ï¼•è¡Œã®ãƒ‡ãƒ¼ã‚¿ã‚’ã–ã£ã¨çœºã‚ã‚‹
df_medical.head()

# è€ƒå¯Ÿï¼šã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ãŒå«ã¾ã‚Œã¦ã„ã¾ã™

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [13]:
# value_counts() sexåˆ—ã®ç¢ºèª 
df_medical['sex'].value_counts()

# è€ƒå¯Ÿï¼šæ€§åˆ¥ã¯ç”·æ€§/å¥³æ€§ã®ã¿

sex
male      676
female    662
Name: count, dtype: int64

In [14]:
# value_counts() smokeråˆ—ã®ç¢ºèª
df_medical['smoker'].value_counts()

# è€ƒå¯Ÿï¼šå–«ç…™è€…ã‹ã©ã†ã‹ã‚‚2å€¤ã®ã¿ã§ã™

smoker
no     1061
yes     273
Name: count, dtype: int64

In [15]:
# value_counts() regionåˆ—ã®ç¢ºèª
df_medical['region'].value_counts()

# è€ƒå¯Ÿï¼šregionã¯4ç¨®é¡ã®ã¿

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [16]:
# info() è¡Œæ•°ã€åˆ—æ•°ã€ãƒ‡ãƒ¼ã‚¿å‹ã€æ¬ æå€¤ã®ç¢ºèª
df_medical.info()

# è€ƒå¯Ÿ
# - smoker ã®å¤‰æ•°ãŒå°‘ã—ã ã‘æ¬ æã—ã¦ã„ã¾ã™
# - ãƒ¬ã‚¹ãƒˆãƒ©ãƒ³ã®ãƒãƒƒãƒ—äºˆæ¸¬ã¨æ¯”è¼ƒã™ã‚‹ã¨ã€1000ä»¶ã‚’è¶…ãˆã¦ãŠã‚Šãƒ‡ãƒ¼ã‚¿æ•°ãŒå¤šã„ç‚¹ã¯è‰¯ã„å‚¾å‘

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1334 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [ ]:
# describe() åŸºæœ¬çµ±è¨ˆé‡ã®ç¢ºèª
df_medical.describe()

# è€ƒå¯Ÿ
# - bmiãŠã‚ˆã³chargesã§ã¯ã€75%ã‚¿ã‚¤ãƒ«ã‹ã‚‰maxå€¤ã«å¤§ããªé–‹ããŒç™ºç”Ÿã—ã¦ãŠã‚Šã€å¤–ã‚Œå€¤ã‹ã€ã¹ãåˆ†å¸ƒã®ãƒ‡ãƒ¼ã‚¿ã§ã‚ã‚‹ã“ã¨ãŒè€ƒãˆã‚‰ã‚Œã¾ã™ã€‚

In [ ]:
#@title é€ä¿¡å‡¦ç†ç”¨å…±é€šãƒ—ãƒ­ã‚°ãƒ©ãƒ ï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown è§£ç­”ã®é€ä¿¡ã«å¿…è¦ã§ã™ã€‚ï¼ˆä¸­èº«ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰

import os
os.makedirs(".client/python", exist_ok=True)  # éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã‚’ä½œæˆ
!wget -q https://raw.githubusercontent.com/YasuharuSuzuki/25_isco3/main/91_notebook_client/src/setup.sh -O .client/setup.sh   # å¤–éƒ¨ã‚³ãƒ¼ãƒ‰ã‚’ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰ã—ã¦éš ã—ãƒ•ã‚©ãƒ«ãƒ€ã«é…ç½®
!chmod +x ./.client/setup.sh
!bash ./.client/setup.sh # å®Ÿè¡Œ

# sandboxå®Ÿè¡Œç”¨
# os.symlink("../../src", ".client", target_is_directory=True)
# !bash ./sandbox_setup.sh # å®Ÿè¡Œ

# ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã®åˆæœŸåŒ–
exec(open('.client/client_setup.py').read())

# ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯å›ºæœ‰ã®è¨­å®š
NOTEBOOK_PATH = "05_æ©Ÿæ¢°å­¦ç¿’(å›å¸°)/01_ãƒ‡ãƒ¼ã‚¿å‰å‡¦ç†.ipynb"
set_notebook_config(NOTEBOOK_PATH)

In [ ]:
#@title å•1 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=1, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))

---
---
---

### ğŸ‘» ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 2ã€€æ¬ æå€¤ã®å¯¾ç­–

ãƒãƒƒãƒ—é¡ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ã€ä»¥ä¸‹ã®æ‰‹é †ã§æ¬ æå€¤ã®å¯¾ç­–ã‚’è¡Œã„ã¾ã™ã€‚

- isnull().sum() æ¬ æå€¤ã®æ•°ã‚’ç¢ºèª
- isnull().any() æ¬ æå€¤ã‚’æŒã¤è¡Œã‚’ç¢ºèª
- dropna() æ¬ æå€¤ã®å‰Šé™¤
- info() æ¬ æå€¤ã®é™¤å»ã‚’ç¢ºèª

In [23]:
# æ¬ æå€¤ã®æ•°ã‚’ç¢ºèª
# isnull()ã¨ã„ã†é–¢æ•°ã‚’ä½¿ç”¨ã—ã¦æ¬ æå€¤ã‹ã©ã†ã‹ã‚’å–å¾—ã—ã€sum()é–¢æ•°ã‚’ç”¨ã„ã¦é›†è¨ˆã™ã‚‹ã“ã¨ãŒå¯èƒ½ã§ã™
df_tips.isnull().sum()

total_bill     0
sex            0
smoker        10
day            0
time           0
size           0
tip            0
dtype: int64

- smoker åˆ—ã«10ä»¶ã®ã¿å­˜åœ¨ã™ã‚‹ã‚ˆã†ã§ã™
- é‡ã¨ã—ã¦ã¯å¤šããªã„ã®ã§ã€ãã®ã¾ã¾å‰Šé™¤ã—ã¦ã‚‚è‰¯ã•ãã†ã§ã™

In [24]:
# æ¬ æå€¤ã‚’æŒã¤è¡Œã‚’ç¢ºèª
# any()é–¢æ•°ã‚’ç”¨ã„ã‚‹ã¨æ¬ æè¡Œã‚’æŠ½å‡ºã§ãã¾ã™
df_tips[df_tips.isnull().any(axis=1)]

     total_bill     sex smoker   day    time  size   tip
9         14.78    Male    NaN   Sun  Dinner     2  3.23
40        16.04    Male    NaN   Sat  Dinner     3  2.24
106       20.49    Male    NaN   Sat  Dinner     2  4.06
140       17.47  Female    NaN  Thur   Lunch     2  3.50
153       24.55    Male    NaN   Sun  Dinner     4  2.00
171       15.81    Male    NaN   Sat  Dinner     2  3.16
174       16.82    Male    NaN   Sun  Dinner     2  4.00
186       20.90  Female    NaN   Sun  Dinner     3  3.50
215       12.90  Female    NaN   Sat  Dinner     2  1.10
242       17.82    Male    NaN   Sat  Dinner     2  1.75

- ç›®çš„å¤‰æ•°ã§ã‚ã‚‹tipå€¤ã‚’ç¢ºèªã€‚2Ïƒä»¥ä¸Šã®å€¤ã«ãªã£ã¦ã„ãªã„ãŸã‚ã€å‰Šé™¤ã—ã¦ã‚‚å½±éŸ¿ã¯å°‘ãªã‚ã¨æ€ã‚ã‚Œã‚‹ã€‚
- DinnerãŒå¤šã„ãŒã€å…ƒã€…Dinnerã®æ–¹ãŒå¤šã‚ã®ãŸã‚ã€ãã‚Œã»ã©å½±éŸ¿ã¯ç„¡ã•ãã†

In [25]:
# æ¬ æå€¤ã®å‰Šé™¤
# dropna()ãƒ¡ã‚½ãƒƒãƒ‰ã‚’ä½¿ç”¨ã—ã¦æ¬ æå€¤ã‚’å‰Šé™¤ã™ã‚‹
df_tips2 = df_tips.dropna(how='any')  # how='any'ã¯å…¨ã¦ã®åˆ—ã®ã†ã¡ã©ã‚Œã‹ï¼‘ã¤ã§ã‚‚æ¬ æå€¤ã‚’å«ã‚€è¡Œã‚’å¯¾è±¡ã¨ã™ã‚‹ã“ã¨ã‚’æŒ‡å®šã—ã¦ã„ã¾ã™
df_tips2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  234 non-null    float64
 1   sex         234 non-null    object
 2   smoker      234 non-null    object
 3   day         234 non-null    object
 4   time        234 non-null    object
 5   size        234 non-null    int64
 6   tip         234 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.6+ KB

- æ¬ æå€¤ã‚’å‰Šé™¤ã—ãŸã€‚
- ã¡ãªã¿ã«å‰Šé™¤ã™ã‚‹ä»¥å¤–ã®æ–¹æ³•ã¨ã—ã¦ã¯ã€æ¬ æå€¤ã‚’äºˆæ¸¬ã™ã‚‹ãƒ¢ãƒ‡ãƒ«ã‚’ä½œã‚Šã€å€¤ã‚’åŸ‹ã‚ã¦æ´»ã‹ã™æ–¹æ³•ã‚‚å­˜åœ¨ã™ã‚‹

---

### ğŸ—¿ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 2 æ¬ æå€¤ã®å¯¾ç­–(10ç‚¹)

åŒ»ç™‚ä¿é™ºæ–™ã®ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã«ä»¥ä¸‹ã®æ‰‹é †ã§æ¬ æå€¤ã®å¯¾ç­–ã‚’è¡Œã„ã€ãã‚Œãã‚Œè€ƒå¯Ÿã‚’ä»˜ã‘ã¦ã¿ã¾ã—ã‚‡ã†ã€‚    
â€»èª­ã¿è¾¼ã¿æ¸ˆã¿ã®DataFrameã‚’æ´»ç”¨ã—ã¾ã—ã‚‡ã†ã€‚  

1ï¸âƒ£ isnull().sum() æ¬ æå€¤ã®æ•°ã‚’ç¢ºèª  
2ï¸âƒ£ isnull().any() æ¬ æå€¤ã‚’æŒã¤è¡Œã‚’ç¢ºèª  
3ï¸âƒ£ dropna() æ¬ æå€¤ã®å‰Šé™¤  
4ï¸âƒ£ info() æ¬ æå€¤ã®é™¤å»ã‚’ç¢ºèª  

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [19]:
# æ¬ æå€¤ã®æ•°ã‚’ç¢ºèª
# isnull().sum() ã§ç¢ºèªã—ã¾ã™ã€‚
df_medical.isnull().sum()

# è€ƒå¯Ÿ
# smoker åˆ—ã«4ä»¶ã®ã¿å­˜åœ¨ã™ã‚‹ã‚ˆã†ã§ã™
# é‡ã¨ã—ã¦ã¯å¤šããªã„ã®ã§ã€ãã®ã¾ã¾å‰Šé™¤ã—ã¦ã‚‚è‰¯ã•ãã†ã§ã™

age         0
sex         0
bmi         0
children    0
smoker      4
region      0
charges     0
dtype: int64

In [20]:
# æ¬ æå€¤ã‚’æŒã¤è¡Œã‚’ç¢ºèª
# any()é–¢æ•°ã‚’ç”¨ã„ã‚‹ã¨æ¬ æè¡Œã‚’æŠ½å‡ºã§ãã¾ã™
df_medical[df_medical.isnull().any(axis=1)]

# è€ƒå¯Ÿ
# ç›®çš„å¤‰æ•°ã§ã‚ã‚‹chargeså€¤ã‚’ç¢ºèªã€‚2Ïƒå†…ã®ãŸã‚å‰Šé™¤ã—ã¦ã‚‚å½±éŸ¿ã¯å°‘ãªã‚ã¨æ€ã‚ã‚Œã‚‹ã€‚

     age     sex     bmi  children smoker     region      charges
32    19  female  28.600         5    NaN  southwest   4687.79700
347   46    male  33.345         1    NaN  northeast   8334.45755
429   27  female  30.400         3    NaN  northwest  18804.75240
827   36    male  28.025         1    NaN  northeast  20773.62775

In [21]:
# æ¬ æå€¤ã®å‰Šé™¤
# dropna()ãƒ¡ã‚½ãƒƒãƒ‰ã‚’ä½¿ç”¨ã—ã¦æ¬ æå€¤ã‚’å‰Šé™¤ã™ã‚‹
df_medical2 = df_medical.dropna(how='any')  # how='any'ã¯å…¨ã¦ã®åˆ—ã®ã†ã¡ã©ã‚Œã‹ï¼‘ã¤ã§ã‚‚æ¬ æå€¤ã‚’å«ã‚€è¡Œã‚’å¯¾è±¡ã¨ã™ã‚‹ã“ã¨ã‚’æŒ‡å®šã—ã¦ã„ã¾ã™
df_medical2.info()

# æ¬ æå€¤ã®å‰Šé™¤ã‚’ç¢ºèª

<class 'pandas.core.frame.DataFrame'>
Index: 1334 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1334 non-null   int64
 1   sex       1334 non-null   object
 2   bmi       1334 non-null   float64
 3   children  1334 non-null   int64
 4   smoker    1334 non-null   object
 5   region    1334 non-null   object
 6   charges   1334 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.4+ KB

In [ ]:
#@title å•2 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=2, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))

---
---
---

### ğŸ—‚ï¸ ã‚µãƒ³ãƒ—ãƒ«ãƒ—ãƒ­ã‚°ãƒ©ãƒ 3ã€€ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾ç­–ã¨ãƒ‡ãƒ¼ã‚¿ä¿å­˜

ä»¥ä¸‹ã®æ‰‹é †ã§ãƒãƒƒãƒ—é¡ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾ç­–ã‚’è¡Œã„ã¾ã™ã€‚

- ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾è±¡ã¨ã™ã‚‹åˆ—åã‚’ãƒªã‚¹ãƒˆã§å®šç¾©
- foræ–‡ã§ãƒ«ãƒ¼ãƒ—ã—ãªãŒã‚‰ã€å„åˆ—ã‚’LabelEncoderã‚’ä½¿ç”¨ã—ã¦å¤‰æ›
- info() ã‚’ä½¿ç”¨ã—ã¦ã€å¯¾ç­–å¾Œã®ãƒ‡ãƒ¼ã‚¿å‹ã‚’ç¢ºèª
- å‰å‡¦ç†ã‚’è¡Œã£ãŸãƒ‡ãƒ¼ã‚¿ã‚’to_csv()ã§ãƒ•ã‚¡ã‚¤ãƒ«ã«ä¿å­˜ã™ã‚‹(TIPS_PREPROCESSED_CSVã§å®šç¾©æ¸ˆã¿ã®ãƒ•ã‚¡ã‚¤ãƒ«åã‚’ä½¿ç”¨ã™ã‚‹)

In [27]:
categories = ['sex','smoker','day','time']  # ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾è±¡ã¨ã™ã‚‹åˆ—ã‚’æŒ‡å®šã™ã‚‹

df_tips3 = df_tips2.copy()  # DataFrameã‚’æ›¸ãæ›ãˆã‚‹ãŸã‚ã€å¤‰æ›ã™ã‚‹
for category in categories:
    label_encoder = LabelEncoder()  # æ–‡å­—åˆ—ã‚’æ•°å€¤ã«å¤‰æ›ã™ã‚‹ã‚¯ãƒ©ã‚¹ã®ã‚¤ãƒ³ã‚¹ã‚¿ãƒ³ã‚¹ã‚’ä½œæˆ
    label_encoder = label_encoder.fit(df_tips3[category])  # fité–¢æ•°ã§æ–‡å­—åˆ—ã¨æ•°å€¤ã®é–¢ä¿‚ã‚’å–å¾—
    df_tips3[category] = label_encoder.transform(df_tips3[category])  # transformã§å¤‰æ›ã‚’å®Ÿè¡Œ
    df_tips3[category] = df_tips3[category].astype('category') # ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã«ã¯å°‚ç”¨ã®å‹'category'ãŒã‚ã‚‹ãŸã‚ã€å‹å¤‰æ›ã—ã¦ãŠã
    print(df_tips3[category].value_counts())  # å¤‰æ›å¾Œã®å€¤ã‚’è¡¨ç¤º

sex
1    150
0     84
Name: count, dtype: int64
smoker
0    146
1     88
Name: count, dtype: int64
day
1    82
2    72
3    61
0    19
Name: count, dtype: int64
time
0    167
1     67
Name: count, dtype: int64

In [28]:
# info() ã‚’ä½¿ç”¨ã—ã¦ã€ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°å¯¾ç­–å¾Œã®å‹ã‚’è¡¨ç¤º
df_tips3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  234 non-null    float64
 1   sex         234 non-null    category
 2   smoker      234 non-null    category
 3   day         234 non-null    category
 4   time        234 non-null    category
 5   size        234 non-null    int64
 6   tip         234 non-null    float64
dtypes: category(4), float64(2), int64(1)
memory usage: 8.8 KB

- objectå‹ï¼ˆæ–‡å­—åˆ—ï¼‰ãŒç„¡ããªã‚Šã€categoryã«ãªã£ãŸ

In [ ]:
# å‰å‡¦ç†ã‚’è¡Œã£ãŸãƒ‡ãƒ¼ã‚¿ã®ä¿å­˜
df_tips3.to_csv(TIPS_PREPROCESSED_CSV)

### ğŸ›ï¸ ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ 3ã€€ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾ç­–ã¨ãƒ‡ãƒ¼ã‚¿ä¿å­˜ (5ç‚¹)

ä»¥ä¸‹ã®æ‰‹é †ã§åŒ»ç™‚ä¿é™ºæ–™ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾ç­–ã‚’è¡Œã„ã€ãƒ‡ãƒ¼ã‚¿ã‚’ä¿å­˜ã—ã¾ã—ã‚‡ã†ã€‚  
â€»èª­ã¿è¾¼ã¿æ¸ˆã¿ã®DataFrameã‚’æ´»ç”¨ã—ã¾ã—ã‚‡ã†ã€‚  

- ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾è±¡ã¨ã™ã‚‹åˆ—åã‚’ãƒªã‚¹ãƒˆã§å®šç¾©
- foræ–‡ã§ãƒ«ãƒ¼ãƒ—ã—ãªãŒã‚‰ã€å„åˆ—ã‚’LabelEncoderã‚’ä½¿ç”¨ã—ã¦å¤‰æ›
- info() ã‚’ä½¿ç”¨ã—ã¦ã€å¯¾ç­–å¾Œã®ãƒ‡ãƒ¼ã‚¿å‹ã‚’ç¢ºèª
- å‰å‡¦ç†ã‚’è¡Œã£ãŸãƒ‡ãƒ¼ã‚¿ã‚’to_csv()ã§ãƒ•ã‚¡ã‚¤ãƒ«ã«ä¿å­˜ã™ã‚‹(MEDICAL_PREPROCESSED_CSVã§å®šç¾©æ¸ˆã¿ã®ãƒ•ã‚¡ã‚¤ãƒ«åã‚’ä½¿ç”¨ã™ã‚‹)

<!-- PROBLEM_TYPE: SYNTAX_EXERCISE -->

In [30]:
categories = ['sex','smoker','region']  # ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã®å¯¾è±¡ã¨ã™ã‚‹åˆ—ã‚’æŒ‡å®šã™ã‚‹

df_medical3 = df_medical2.copy()  # DataFrameã‚’æ›¸ãæ›ãˆã‚‹ãŸã‚ã€å¤‰æ›ã™ã‚‹
for category in categories:
    label_encoder = LabelEncoder()  # æ–‡å­—åˆ—ã‚’æ•°å€¤ã«å¤‰æ›ã™ã‚‹ã‚¯ãƒ©ã‚¹ã®ã‚¤ãƒ³ã‚¹ã‚¿ãƒ³ã‚¹ã‚’ä½œæˆ
    label_encoder = label_encoder.fit(df_medical3[category])  # fité–¢æ•°ã§æ–‡å­—åˆ—ã¨æ•°å€¤ã®é–¢ä¿‚ã‚’å–å¾—
    df_medical3[category] = label_encoder.transform(df_medical3[category])  # transformã§å¤‰æ›ã‚’å®Ÿè¡Œ
    df_medical3[category] = df_medical3[category].astype('category') # ã‚«ãƒ†ã‚´ãƒªã‚«ãƒ«å¤‰æ•°ã«ã¯å°‚ç”¨ã®å‹'category'ãŒã‚ã‚‹ãŸã‚ã€å‹å¤‰æ›ã—ã¦ãŠã
    print(df_medical3[category].value_counts())  # å¤‰æ›å¾Œã®å€¤ã‚’è¡¨ç¤º

sex
1    674
0    660
Name: count, dtype: int64
smoker
0    1061
1     273
Name: count, dtype: int64
region
2    364
1    324
3    324
0    322
Name: count, dtype: int64

In [31]:
# info() ã‚’ä½¿ç”¨ã—ã¦ã€ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°å¯¾ç­–å¾Œã®å‹ã‚’è¡¨ç¤º
df_medical3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1334 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1334 non-null   int64
 1   sex       1334 non-null   category
 2   bmi       1334 non-null   float64
 3   children  1334 non-null   int64
 4   smoker    1334 non-null   category
 5   region    1334 non-null   category
 6   charges   1334 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 56.5 KB

In [32]:
# å‰å‡¦ç†ã‚’è¡Œã£ãŸãƒ‡ãƒ¼ã‚¿ã®ä¿å­˜
df_medical3.to_csv(MEDICAL_PREPROCESSED_CSV)

In [ ]:
#@title å•3 é€ä¿¡ãƒœã‚¿ãƒ³è¡¨ç¤ºï¼ˆä»¥ä¸‹ã®ã‚»ãƒ«ã‚’ã€Œâ–¶ å®Ÿè¡Œã€ã—ã¦ä¸‹ã•ã„ã€‚ï¼‰ { display-mode: "form" }
#@markdown ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ã‚’å–å¾—ã—ã¦ã€é€ä¿¡ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ã¦ãã ã•ã„ï¼ˆä¸­ã®ãƒ—ãƒ­ã‚°ãƒ©ãƒ ã¯çµ¶å¯¾ã«ä¿®æ­£ã—ãªã„ã§ãã ã•ã„ï¼‰
display(create_submit_button(problem_number=3, button_name="ç·´ç¿’ãƒ—ãƒ­ã‚°ãƒ©ãƒ "))